h5 Atelier Lucian Sandu-Milea - spatiu de creatie amenajat intr-un fost atelier de reparat incaltaminte.

br
h4 Program

.row.schedule__container
  .col-xs-12
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 21:00 - 3:00
        p.schedule__item__title EXPOZITIA: STOC – Bazar Creativ
        br
        p.schedule__item__title Artă sau obiect?
        p.schedule__item__description Expoziția își propune explorarea graniței dintre artă si obiect. Ce se întâmplă atunci când arta se întâlnește cu spiritul practic, reușind astfel să co-creeze obiecte de uz comun?
        br
        p.schedule__item__description .expun:
        br
        p.schedule__item__description
            ul
                li Atelier de serigrafie Octav Avramescu
                li Sandu Milea Lucian 
                li Toma Ana 
                li Dia Falub 
                li Emanuela Voinescu 
                li Amina Burloiu 
                li Raluca Ilaria Demetrescu 
                li Viorela Popa 
                li Irina Iliescu
                li Wood be nice 
                li Toma Andreea 
                li Obie Platon 
                li Bita color 
                li Șnur 
                li Akira 
                li Timotei 
                li Drob 
                li Sefeu 
                li Raul Timis
        br
        p.schedule__item__description *Bazar Creativ dorește să aducă împreună artiști contemporani care reușesc să creeze obiecte uzuale cu valoarea artistică.
