h5 Spațiul Avanpost s-a coagulat în timp, adunând laolaltă artiști independenți, liberi, boemi, cu idei și pasiuni comune manifestate prin intermediul artelor vizuale și auditive. Este rezultatul unor legături de prietenie, fiecare dintre noi având rolul său în actul creației artistice, a unei forme invizibile de energie comună. Avanpost a evoluat organizând evenimente cultural-artistice la care au participat artiști din toate domeniile: graffiti, artă urbană, muzică, arte vizuale, sculptură, fotografie.
h5 Prin amprenta lăsată de persoanele care au ocupat spațiul, locul poartă o puternică încărcătură energetică a creativității artistice, un exemplu în acest sens fiind compozitorul Temistocle Popa, care a trăit și creat în acest spațiu. 

.row.schedule__container
  .col-xs-6
    ul.schedule
      li.schedule__item
        p.schedule__item__title.alt Parter
        p.schedule__item__description proiecții, jocuri de lumini, expoziție colectivă
  .col-xs-6
    ul.schedule
      li.schedule__item
        p.schedule__item__title.alt Beci
        p.schedule__item__description petrecere până-n zi
