h5 CAROL 53 este un mediu deschis ce stimulează, încurajează și promovează inițiativa. Este un spațiu apolitic. Dorim dezvoltarea unui cadru neutru în care părți convergente sau nu ale societății își pot confrunta și dezbate ideile, își pot redefini procesele de comunicare și contura noi raporturi între generații, ocupații și interese în scopul dezvoltării orașului și culturii acestuia.
h5 Acest program urmărește trei direcții de dezvoltare: Procesul de revitalizare al construcției / Procesul social de dezvoltare al grupului inițiator în relație cu spațiul și activitățile conexe acestuia / Procesul prin care spațiul capătă identitate și relaționează cu mediul cultural bucureștean.

br
h4 Program

h5.schedule__title Atelierele din Carol 53 își deschid porțile și vă invită la inaugurarea unei mici galerii în curte, în care puteți descoperi o expoziție organizată de către artiștii din casă, împreună cu prietenii și invitații lor.

