h5 După aproape 4 ani de activitate, Carol 53 se dezvoltă ca un hub de ateliere creative, punând la dispoziție o parte din spațiile casei, pe perioade determinate de timp, unor persoane sau grupuri ce doresc să dezvolte proiecte cu impact în dezvoltarea social-culturală a orașului.
h5 În prezent, ne bucurăm că alături de noi își desfășoară activitatea un colectiv de aproximativ 10-15 persoane din diverse domenii precum arhitectură, artă decorativă, meșteșug, ecologie, teatru, muzică, pictură și serigrafie.

.row.schedule__container
  .col-xs-6.col-sm-4.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 19:00-23:00
        p.schedule__item__title La parter
        p.schedule__item__title Grafică, pictură și animație
        p.schedule__item__description Daniel Alexandru
        p.schedule__item__description Andreea Toma
        p.schedule__item__description George Vasilescu
        p.schedule__item__description Irina Maria Iliescu
        p.schedule__item__description Iolanda Boban
        p.schedule__item__description Wood be Nice
        p.schedule__item__description Atelier Șnur

  .col-xs-6.col-sm-4.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 21:00-2:00
        p.schedule__item__title În anexa din curte
        p.schedule__item__title Galeria de multiple
        p.schedule__item__description Atelierul de Serigrafie
        p.schedule__item__description de pe lângă Librăria ”Jumătatea Plină”
        p.schedule__item__description —Octav Avramescu.

  .col-xs-6.col-sm-4.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__title Prin casă și curte:
        p.schedule__item__description Instalație și performance
        p.schedule__item__description —JULAY & Renate.