h5 CAROL 53 este un mediu deschis ce stimulează, încurajează și promovează inițiativa. Este un spațiu apolitic. Dorim dezvoltarea unui cadru neutru în care părți convergente sau nu ale societății își pot confrunta și dezbate ideile, își pot redefini procesele de comunicare și contura noi raporturi între generații, ocupații și interese în scopul dezvoltării orașului și culturii acestuia.

br
h4 Program

h5.schedule__title Atelierele casei deschid portile pentru vizitatori.

.row.schedule__container
  .col-xs-12
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 21:00 - 2:00
        p.schedule__item__title Expozitie la parter
        br
        p.schedule__item__description   
            ul
                li Pastila Roz - o grupare satirica, joviala si indiferenta.
                li Atelier - Wood be Nice
                li Atelier expozitie: Andrea Toma; Alexandru Calin Mihalache
                li Galeria Celula de Arta: Sasha Meret - Singularitate