h5 Evenimente Underground, Muzica, Petreceri,  Discoteca, Jocuri, Distractie, Galerie de arta Nonconformista, Sesiuni stiintifice, Carte, Expozitii Avant Garde.

br
h4 Program

h5.schedule__title Noaptea Caselor in asociere cu Casa Conspirativa, Blue Note Cafe, 486, Nicky Stevens si Iulian Ignat va prezinta un eveniment cultural fotografic si muzical:

h5.schedule__title Expoziția ”Venezia, pasaje, năluci, ocheade” prezintă fotografii în alb și negru realizate de Iulian Ignat pe parcursul a două ediții ale carnavalului. #[a(href='http://www.iulianignat.ro/news/', target='_blank') www.iulianignat.ro]. 

h5.schedule__title Expozția este cu vânzare și conține lucrari printate la dimensiuni mari și înrămate.

h5.schedule__title Maestrul Nicky Stevens va sustine pe durata evenimentului muzica interpretata la pian rece!

h5.schedule__title Va asteptam sa admirati si colectiile de arta ale galeriei, fotografii vechi, obiecte de colectie si nu numai!

h5.schedule__title Pentru pasionatii sportului avem: Bliard, fusball si ping-pong!

h5.schedule__title Va asteptam!