h5 Jurnalism de profunzime într-o lume nebună.

br
h4 Program

.row.schedule__container
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 21:00
        p.schedule__item__title Încălzire, discuții
      li.schedule__item
        p.schedule__item__hours 23:00
        p.schedule__item__title #[a(href='https://www.facebook.com/events/556771044735816/', target='_blank') CARNALvAL SPP]
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 24:00
        p.schedule__item__title Ceva să placă la toată lumea
      li.schedule__item
        p.schedule__item__hours 04:00
        p.schedule__item__title After Techno cu Zen
//-   .col-xs-6.col-sm-6.col-md-6
//-     h4 În crama dansam:
//-     ul.schedule.schedule--two-columns
//-       li.schedule__item
//-         p.schedule__item__hours 20 - 23
//-         p.schedule__item__title Mix introductiv
//-       li.schedule__item
//-         p.schedule__item__hours 23 - 05
//-         p.schedule__item__title Bairam
//-       li.schedule__item
//-         p.schedule__item__hours 05 - ∞
//-         p.schedule__item__title Techno after-party

//- .row.schedule__container
//-   .col-xs-12
//-     h5.schedule__title În casă puteți vedea fragmente din materialele video în lucru, în curte avem expoziții, iar în bucătărie puteți să-i cunoașteți pe copiii din Delta Văcărești.
