h5 Suntem o comunitate de reporteri independenți. Ne-am adunat într-o casă și punem la cale jurnalismul viitorului.
h5 Anul trecut am deschis #[a(href='https://www.facebook.com/casa.jurnalistului/videos/1123620707709257/', target='_blank') prima școală de jurnalism independent din România] și ne-am ales cu noi colegi de Casă și de breaslă. Sâmbătă seara vă invităm să descoperiți materialele jurnalistice la care au lucrat rezidenții noștri în ultimul an. Sub motto-ul The Happy House, vă așteptăm cu dezbateri, expoziții, proiecții video și, inevitabil, o petrecere nebună.

.row.schedule__container
  .col-xs-6.col-sm-6.col-md-6
    h4 Începem devreme cu dezbateri:
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 14 - 16
        p.schedule__item__title Cum am făcut investigația cu Burnei
        p.schedule__item__description Q&A cu Luiza Vasiliu.
      li.schedule__item
        p.schedule__item__hours 16 - 18
        p.schedule__item__title România descoperă abuzul sexual pe internet
        p.schedule__item__description Venera Dimulescu citește pasaje din investigația despre Revenge Porn.
      li.schedule__item
        p.schedule__item__hours 18 - 20
        p.schedule__item__title Aventuri în China cu Vlad Ursulean
  .col-xs-6.col-sm-6.col-md-6
    h4 În crama dansam:
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 20 - 23
        p.schedule__item__title Mix introductiv
      li.schedule__item
        p.schedule__item__hours 23 - 05
        p.schedule__item__title Bairam
      li.schedule__item
        p.schedule__item__hours 05 - ∞
        p.schedule__item__title Techno after-party

.row.schedule__container
  .col-xs-12
    h5.schedule__title În casă puteți vedea fragmente din materialele video în lucru, în curte avem expoziții, iar în bucătărie puteți să-i cunoașteți pe copiii din Delta Văcărești.
