h5 Casa Activistului este un incubator civic care va fi pus la dispoziția tuturor celor care doresc să organizeze training-uri, workshop-uri, proiecții de filme, dezbateri sau orice proiect civic pe care spațiul îl permite.

br
h4 Program

h5.schedule__title Va așteptăm la primul nostru eveniment important din Casa Activistului, înainte de lansarea oficiala din 20 octombrie. Programul include teme sociale, care sa ne aducă mai aproape de evenimentele desfășurate în România ultimilor ani. 

h5.schedule__title Deschidem oficial ușile casei la ora 15:00, moment in care veți avea ocazia sa cunoașteți o parte din echipa de voluntari care lucrează la acest proiect. Pe toată perioada evenimentului puteți trece pe la biblioteca noastră, puteți citi o carte, stand relaxat în hamac sau pe beanbag-uri.

h5.schedule__title Dacă și voi vreți să faceți parte din echipa noastră veniți de la ora 16:00 sa avem o discuție despre nevoile casei Activistului și cum puteți sa ne ajutați.

h5.schedule__title După ora 17 va așteptăm cu instrumentul tău preferat să iei parte la jam session-ul acustic din mansarda noastră.

h5.schedule__title Incurajam prezenta copiilor printr-un program special dedicat lor, desfasurat intre orele 15:00 si 19:00.

h5.schedule__title De la ora 21 il avem invitat pe profesorul Gabriel Săndoiu, care va iniția o discuție la intersecția între filozofie și civism.

h5.schedule__title De la ora 22 și până la finalul nopții vor rula proiecții de filme printre care Portavoce + Q&A cu regizorii filmului Ruxandra Gubernat, Henry Rammelt și Ich Bin dubist, realizat de Vlad Ioachimescu, filme despre protestele din România ultimilor ani. 