h5 Casa Doda este locul unde se imbina arta si mestesugul si in care isi impart atelierele Bogdan Deliu Leather Design (atelier pielarie  #[a(href='http://bogdandeliu.ro', target='_blank') bogdandeliu.ro]), Vika Tonu (atelier bijuterie #[a(href='http://www.vikatonu.com', target='_blank') www.vikatonu.com]), Naiana Vatavu (artist vizual #[a(href='http://naiana-vatavu.com', target='_blank') naiana-vatavu.com]), Atelier Snur (atelier pielarie #[a(href='http://mergesnur.ro', target='_blank') mergesnur.ro]) si Creatorii de Nunti (organizare evenimente #[a(href='https://www.creatoriidenunti.ro', target='_blank') www.creatoriidenunti.ro])

br
h4 Program

h5.schedule__title Pentru o noapte, casa isi va deschide usile si se va transforma intr-o galerie, avand expuse lucrarile si piesele celor care activeaza in acest spatiu creativ.
