h5 Suntem o comunitate de reporteri independenți. Ne-am adunat într-o casă și punem la cale jurnalismul viitorului.
br
h5.schedule__title Meet the residents!
h5.schedule__title Vara asta am deschis #[a(href='https://www.facebook.com/casa.jurnalistului/videos/1123620707709257/', target='_blank') prima școală de jurnalism independent din România] și ne-am ales cu noi colegi. Sâmbătă seara vă invităm să-i cunoașteți pe rezidenții din Casa Jurnalistului și să aflați de la ei ce proiecte au de gând să facă.

.row.schedule__container
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 18 - 20
        p.schedule__item__title Turul casei cu rezidenții
        p.schedule__item__description Vă băgăm în redacție, *where the magic happens* și vă povestim la ce lucrăm. Venera
      li.schedule__item
        p.schedule__item__hours 18 - 22
        p.schedule__item__title Bucătărie mexicană
        p.schedule__item__description Guacamole, nachos, muzică mexicană și povești din spatele celui mai recent reportaj publicat pe Casă: #[a(href='http://casajurnalistului.ro/ii-vrem-inapoi-vii/', target='_blank') Îi vrem înapoi vii].
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 20 - 03
        p.schedule__item__title Proiecție cu filmele de pe Strada Viitorului în sufragerie
        p.schedule__item__description Reporterii casei au documentat viața comunității de pe stradă, cu bune și cu rele.
      li.schedule__item
        p.schedule__item__hours 22 - ∞
        p.schedule__item__title De la 22 dăm drumul la party!
        p.schedule__item__description
          ul
            li 22 - 23 muzică latino-americană
            li 23 - 00 lăutărie live cu un Clejanian și un iranian
            li 00 - ∞ petrecere cu manele cu Domnu X

  .col-xs-12
    h5.schedule__title Bonus: Expoziție cu poze din Casă postate de-a lungul timpului pe Instagram.
