h5 La început, Casa Lupu a fost un apartament pus la comun, folosit pentru lucru și joacă de un grup de vreo 30 de prieteni. Apoi, spațiul s-a deschis pentru prietenii prietenilor și, în timp, prietenii prietenilor prietenilor. La seri de film, serate dansante și evenimente culturale diverse, s-a legat o comunitate informală care a depășit rapid capacitatea spațiului și cea de înțelegere a vecinilor.
h5 Între timp, lucrurile s-au mai calmat. Azi, Casa Lupu este un veritabil exemplu de locuire la comun format din trei etaje de spații de locuit și grădina unde se adună atât rezidenții permanenți, trei câini, două pisici, cât și un cerc dinamic de prieteni care formează comunitatea de bază.

//- br
//- h4 Program

//- .row.schedule__container
//-   .col-xs-12
//-     h5.schedule__title Petrecerea Zacusca.
