h5 La început a fost un apartament pus la comun, folosit pentru lucru și joacă de un grup de vreo 30 de prieteni. Apoi, spațiul s-a deschis pentru prietenii prietenilor și, în timp, prietenii prietenilor prietenilor. La seri de film, serate dansante și evenimente culturale diverse, s-a legat o comunitate informală care a depășit rapid capacitatea spațiului și de înțelegere a vecinilor.
h5 Între timp lucrurile s-au mai calmat. Azi, Casa Lupu este un veritabil exemplu de locuire la comun format din 3 etaje de spații de locuit și grădina unde se adună atât rezidenții permanenți, 3 câni cât și un cerc dinamic de prieteni care formează comunitatea de bază.

.row.schedule__container
  .col-xs-6
    ul.schedule
      li.schedule__item
        p.schedule__item__title.alt #Casalupulacultura
        p.schedule__item__description Anul ăsta ne gândeam că ne-am cam săturat să deschidem iar casa și doar voi să vă bucurați de experimentarea tuturor caselor. Așa că de data asta Casa Lupu organizează un tur special:
        p.schedule__item__description Ne strângem toți până la ora 22 la grădina de pe Dionisie Lupu 31 la un must.
        p.schedule__item__description La ora 22 fix atacăm străzile și casele nopții în haită sau “grup organizat” cum le spune jandarmeria!
  .col-xs-6
    ul.schedule
      li.schedule__item
        p.schedule__item__title.alt &nbsp;
        p.schedule__item__description Dupa ce ne facem felul și vizităm fiecare casă, revenim în grădina Lupu pentru un ceaun a la shef Vatamanu să ne satisfacem pofetele!
        p.schedule__item__description PS: Casa Lupu va sta închisă pe parcursul turului
