h5 Plantelor25, o casă colorată, o grădină și un brad verde. Spațiu cultural alternativ, evenimente, concerte, expoziții, târguri, workshop-uri. Aka Casa Shukar, unde s-au pus bazele proiectului editorial Shukar Magazin, platformă de cooperare culturală între romi și români. 

br
h4 Program

h5.schedule__title Shukar Social Party: A 12a călătorie a artistului norvegian Harald Rioșianu Medbøe în România, ediția de noapte. Îi veți putea întâlni pe cei care au editat primul număr al revistei Shukar și care în prezent lucrează la cel de-al doilea număr. Despre revista Shukar și alte proiecte de cooperare culturală între romi și români. Q&amp;A, jam session, social party!
