h5 Cetatea Artelor este un centru multicultural în care tinerii artiști se pot exprima liber într-un mediu deschis. Surprindem diversitatea culturală prin diferite forme de exprimare artistică, cum ar fi muzica, teatrul, coregrafia, fotografia, artele vizuale sau designul vestimentar.

.row.schedule__container
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 6:30 - 8:30
        p.schedule__item__title Curs deschis de tobe africane
      li.schedule__item
        p.schedule__item__hours 8:30 - 10:00
        p.schedule__item__title Piesa “Portrete III – Purgatoriul”
        p.schedule__item__description De Tudor Sicomaş şi Sebastian Ghiţă
        p.schedule__item__description Distribuție:
        p.schedule__item__description
          ul
            li Păzitorul Purgatoriului – Tudor Sicomaş
            li Profu’ de cerşit, un suflet ghiduş – Corneliu Reu
            li Sid, un suflet părăsit – Tadeus Mincă
            li Eva, un suflet rătăcit – Oana Burcescu
            li Maria Magdalena, un suflet pierdut – Lavinia Alexandru
        p.schedule__item__description Regie şi concept: Tudor  Sicomaș
        p.schedule__item__description Coregrafie: Tadeus Mincă
        p.schedule__item__description Sound & Light design: Ştefan Opreanu
  .col-xs-6.col-sm-6.col-md-6
    ul.schedule.schedule--two-columns
      li.schedule__item
        p.schedule__item__hours 10:00 - 11:30
        p.schedule__item__title Jam Session cu artiștii colaboratori ai centrului
      li.schedule__item
        p.schedule__item__hours 11:30 - 02:30
        p.schedule__item__title Proiecție filme de scurt metraj câștigătoare le diferite festivaluri internaționale selectate și puse la dispoziție de Short to the Point.
      li.schedule__item
        p.schedule__item__hours Permanent
        p.schedule__item__title Expoziție instalații realizate de artiștii colaboratori ai centrului.
      li.schedule__item
        p.schedule__item__hours Permanent
        p.schedule__item__title Expoziție hand made cu vânzare.
      li.schedule__item
        p.schedule__item__hours Permanent
        p.schedule__item__title Gogoși și alte bunătați pregătite de meșterii culinari.
