h5 Casă veche de 100 de ani, geamuri cristal și sobe cu model venețian, cuib ideal pentru activiștii Funky Citizens.
h5 Casa boierească din Pache Protopopescu nr. 9 a aparținut inițial unui negustor grec, care a donat-o bisericii grecești, actualul proprietar cumpărând-o de la Biserică în 1987. În istoria recentă a fost sediu pentru o sală de net și pentru o grădiniță. Cineva glumea spunând că, la cum arată azi, Colivia ar putea fi lejer un show-room Versace. Colivia îmbină când armonios, când eclectic tehnologia cu stucaturile și geamurile de cristal vechi de o sută de ani. Norișorii colorați care atârnă din tavan și își schimbă cameleonic culoarea dau bine alături de sobele monumentale și biblioteca încastrată din salonul interbelic. Casa e intimă, sobră, bine conservată, ideală pentru mici concerte, piese de teatru sau expoziții intime.
h5 Funky Citizens e locul în care se întâlnesc cetăţeni „civically fit” care vor să ia parte la procesul decizional. Cele mai puternice arme ale noastre sunt iniţiativele care folosesc deştept tehnologia, advocacy-ul bazat pe date şi educaţia civică.

.row.schedule__container
  .col-xs-12
    h5.schedule__title
      strong Protestataria
    h5.schedule__title Reflectăm activ la ce-a ajuns să însemne protestul în România. După ce ne-am dorit cu ardoare mișcări de stradă care să fie la fel de autentice ca cele din 90, parcă protestele din ultimii zece ani reușesc să schimbe prea puține. E sănătos să fii atent la ce se-ntâmplă în sferele înalte ale politicii și să țipi atunci când deciziile lor îți încalcă drepturile. Dar oare suferim de protest fatigue? Ne uităm la acțiunile de rezistență civilă în fața nedreptăților ca să înțelegem cum putem să protestăm mai bine.

    ul.schedule
      li.schedule__item
        p.schedule__item__title Live drawing + expoziție foto-video cu mișcări de stradă din România ultimilor zece ani + album foto „PROTEST”.
      li.schedule__item
        p.schedule__item__title Educație civică - ce poți să faci pe termen lung (ex: învață Constituția, citește îndreptarul pentru primari). Lansare site #[a(href='http://educatiecivica.ro', target='_blank') educatiecivica.ro] si #[a(href='http://cumarfi.ro', target='_blank') cumarfi.ro].
      li.schedule__item
        p.schedule__item__title Campanie de crowd-funding offline: donează o monedă ca să ne plătim taxele în bani cash.
