h5 Situat intr-un aparatment cu o personalitate aparte, Cuib este spatiul ideal pentru productiile fotografice novatoare. Interesul nostru este sa cream un mediu creativ in care oamenii, ideile, evenimentele si miscarile culturale se intersecteaza si devin proiecte fezabile; unde se stabilesc relatii si colaborari favorabile. Desi este amenjatat ca un studio foto, avand o camera alba cu o ciclorama, hair and make-up stationary, fundaluri, lumini, modificatoare si altele, Cuib Studio pastreaza ambienta spatiului original.

br
h4 Program

h5.schedule__title Petrecere Disco; Proiectii video, lumini si fotografie experimentala; Photo Corner; Vintage boutique cu haine si accesorii.
