h5 Cu o arhitectură de sfarșit de secol 19, CZVL12 adăpostește parcă nativ activitatea de socializare și interconectare. Evenimente de media, petreceri, fresh wear brands, sunt doar o parte din activitățile casei.
h5 Proiectul a luat ființă în 2014 și este unul ongoing, întrucât functionează ca un hub artistic. Asta înseamnă că oamenii care ne pășesc pragul pot bea un soup-shot sau încerca o gustare dulce (producții proprii), în timp ce ascultă o muzică fină sau poartă o discuție legată de artă sau design.
h5 CZVL12 găzduiește shop-ul de haine și accesorii 100% românești Open Minds, biroul de arhitectură Coplanar Studio și biroul de arhitectură peisageră Loisir Landscape Design. Împreună cu crew-ul Cazza Villains, colectivul se implică și în zone alternative – expoziții, evenimente, showcase-uri, alături de artiști din domenii variate (crafts, muzică, grafică, graffiti, street-art, video).

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title Muzică live, expoziție și mâncare urbană.
