h5 Urmărim conştientizarea publicului larg asupra importanţei calităţii unei locuinţe raportată la siguranţă, parametrii de confort şi influenţa lor asupra sănătăţii ocupanţilor, a eficientizării consumurilor, eficienţa energetică şi avantajele economice ale unei astfel de locuinţe.
h5 Proiectul EFdeN are la bază casa proiectată și construită integral de o echipă multidisciplinară de studenți voluntari, de la mai multe specialități, printre care arhitectură, inginerie, comunicare, management, cu ocazia participării la cea mai prestigioasă competiție de locuințe solare, Solar Decathlon Europe, în 2014, la Versailles.
h5 Proiectul educațional a luat naștere  în urmă cu mai bine de trei ani, din dorința de a contribui la îmbunătățirea condițiilor de locuire din România, la ridicarea standardelor de confort, având întotdeauna în minte grija față de natură, sursele regenerabile de energie, sustenabilitatea materialelor folosite şi o cât mai mare eficienţă energetică.
h5 Casa a fost proiectată, prefabricată pe mai multe şantiere simultane în Bucureşti, transportată în 9 tiruri până la Versailles şi asamblată în doar 10 zile. Odată reîntoarsă în ţară, după finalizarea reconstrucţiei, casa funcţionează ca EFdeN 4C (Centru de Cercetare al Condiţiilor de Confort) şi este deschisă săptămânal publicului larg care vrea să descopere ce înseamnă locuinţa viitorului.

.row.schedule__container
  .col-xs-6
    h5.schedule__title Programul EFdeN în cadrul Nopţii Caselor se va desfăşura în paralel în două spaţii: în Campus HUB, exteriorul adiacent și în interiorul casei, unde va avea loc o expoziţie tematică şi tururi ghidate ale locuinţei, ţinute de studenţii voluntari ai echipei EFdeN, prin care publicul va avea ocazia să cunoască cel mai bine casa, tehnologiile implementate şi inovaţiile care o fac eficientă energetic.
  .col-xs-6
    h5.schedule__title Campus Hub este spaţiul verde, amenajat cu hamace şi piese de mobilier urban realizate de către studenţi, unde publicul va putea socializa, participa la activităţi interactive, demonstraţii şi sesiuni de Treasure Hunt, bazate pe informaţiile aflate în cadrul turului casei.
