h5 Începând cu 2012, la EfdeN ne-am adunat într-o echipă multidisciplinară de tineri pasionați care am proiectat și construit integral o locuință solară, eficientă energetic, sustenabilă, sigură, confortabilă și foarte prietenoasă cu mediul, cu care am reprezentat România la cea mai prestigioasă competiție de case solare, Solar Decathlon Europe, în 2014, la Versailles.
h5 Am reconstruit casa într-o zonă centrală a Bucureștiului și începând cu anul 2015, aceasta este deschisă ca EFdeN 4C - Centrul de Cercetare al Condițiilor de Confort, adresându-se atât publicului larg, cât și specialist, interesat să afle mai multe despre locuințele solare. În continuare, ne pregătim cu un nou prototip pentru ediția Solar Decathlon Middle East ce va avea loc în 2018, în Dubai, unde vom concura alături de alte 21 de țări.

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title De Noaptea Caselor, acasă la EFdeN, facem o adunare a generațiile trecute de case solare și discutăm împreună despre case verzi, case sustenabile, casele câștigătoare și casele viitorului. Vizitarea prototipului EFdeN este ghidată de către colegii din echipă, parcurgând fiecare colțișor și cameră în parte și răspunzând chiar și la cea mai tehnică întrebare. Odată cu lăsarea serii, ne retragem cu picioarele în iarbă în Campus HUB, spațiul verde amenajat de către studenți, pentru a ne bucura împreună de relaxare în hamace, muzică live și alte surprize.
