h5 De la apariția pe harta Bucureștiului până acum, Home Mătăsari a devenit cunoscut ca un spațiu alternativ pentru diverse evenimente sociale și culturale. A fost punctul de pornire pentru cinci ediții ale festivalului Femei pe Mătăsari. În Home Mătăsari au avut loc mai multe petreceri private și publice, iar pereții au găzduit numeroase picturi în cadrul expozițiilor. Curtea casei a fost scena mai multor formații. Totodată Home Mătăsari înseamnă și „acoperișul,” pentru o mână de oameni tineri, studenți, artiști, muzicieni și pictori.

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title La Home Mătăsari, de Noaptea Caselor sau în orice altă zi, dacă ai chef să dai ochii cu un artist… doar vino!

    ul.schedule
      li.schedule__item
        p.schedule__item__title De la 20:00 și de la 01:00 avem teatru: prietenii noștri de la 8pt vin cu metroul și ne pun să reflectăm asupra vieții, pornind de la textul lui Cormac McCarthy – The Sunset Limited.
        p.schedule__item__description O adaptare cu Dani Ionescu și Radu Catană, în regia lui Alexandru Nagy. Producător Adrian Petrariu. Guest Star: Iisus.
        p.schedule__item__description Mai multe despre 8pt: #[a(href='https://m.facebook.com/8PerformanceTheatre/', target='_blank') 8PerformanceTheatre].
      li.schedule__item
        p.schedule__item__title Diana Tudose își deschide atelierul și...

  .col-xs-12
    h5.schedule__title Așa că treci și pe la noi pentru programul artistic, dar și pentru una dintre deja tradiționalele noastre petreceri.
