h5 De la apariția pe harta Bucureștiului până acum, Home Mătăsari a devenit cunoscut ca un spațiu alternativ pentru diverse evenimente sociale și culturale. Home Mătăsari înseamnă și „acoperișul” pentru o mână de oameni tineri, studenți, artiști, muzicieni și pictori.

.row.schedule__container
  .col-xs-12
    h5.schedule__title Un party cu voie buna alături de un pahar de vin ascultând muzica faina și admirând cele mai recente lucrări ale artistilor Florin Pantelimon, Raisa Hagiu și Ioana Double eye pe care o veți putea vedea în procesul de creație.