h5 Manasia Hub – căminul proiectelor artistice și inițiativelor antreprenoriale.
h5 Manasia a apărut încet, tăcut și mai ales organic. Întâi a fost dorința fondatorilor, apoi, cu greu, a venit și spațiul de pe Stelea Spătarul 13, loc care a atras oamenii cu pofte de proiecte. Cu chef de artă și de muncă. Casa noastră este o clădire interbelică construită de un disident anticomunist, Onisifor Ghibu. Are o istorie bogată și profundă, care o diferențiază de celelalte clădiri din jur. Când am găsit-o, clădirea maiestuoasă de-abia mai stătea în picioare și, de atunci, ne-am luat misiunea de a-i reda famecul inițial.
h5 Fosta secție 10 de Poliție din rondul Stelea Spătaru adăpostește acum un birou de arhitectură, unul de design, unul de producție audio, un ONG, o sală de repetiție pentru actori, o cameră de pingpong, un bar, o rulotă de snacks și temporar expoziții, proiecții, mici concerte. Un amalgam de creație bucureșteană într-un spațiu cu o istorie rece, dar care devine din ce în ce mai cald și primitor.

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title Doar în seara cu Noaptea Caselor #4, fostul arest preventiv din subsolul casei va fi deschis vizitatorilor, precum și birourile din clădire. O să organizăm și o petrecere în spațiul barului și pe terasă.
    h5.schedule__title Hosts: Asociația Vira, Studio Est, Lisseau Design Lab, Studio X & other inmates.
