h5 Modulab e un laborator de design și tehnologie din București. A apărut în 2010 când fondatorii au început să-și construiască propria navă spațială pe Strada Viitorului. De atunci, e locul în care se meșteresc instalații interactive, expoziții de artă trans-media, evenimente și workshopuri care explorează noile tehnologii din perspectivă artistică.

.row.schedule__container
  .col-xs-12
    h5.schedule__title Programul e prea SF ca să fie pus în cuvinte, come and see it with your own eyes!