h5 Aflat în clădirea Sahia Film, spațiul-atelier Sbang deschide ușile pentru a-i invita pe oaspeți în povestea din spatele filmului. Scenografia este un personaj în continuă mișcare ce compozitează un univers atemporal.

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title Cine ești când nimeni nu te vede? 
    h5.schedule__title Atelier Instalatii. Dj Maria Balabaș. Cinema în debara. ZUM-A Journey Inside. Proiecție filme. Dj Claudia. Live Performance. Damian-Kaya Foundation. Videoteca. Temple Invisible. Circuit cu sens unic.
