h5 Școala de dramaturgie și scenaristică "Scrie despre tine" este un proiect care își propune să dezvolte împreună cu participanții instrumentele necesare pentru a scrie piese de teatru și scenarii pentru film inspirate din povești reale.
h5 Lucrăm din 2010, în regim independent, cu oameni care vor să-și exploreze realitatea și să scrie despre ce li se întâmplă. Vrem să înțelegem mai bine lumea în care trăim găsind împreună poveștile care o reprezintă cel mai bine, în complexitatea ei. Din 2017, proiectul este co-finantat de Administratia Fondului Cultural National.

br
h4 Program

.row.schedule__container
  .col-xs-12
    h5.schedule__title "Scrie despre tine" vă invită la un experiment numit "Oul dramaturgului". Experimentul conține: liniște, sinceritate, material autobiografic, text, hârtie și o călătorie. Rezultatul: texte în incubator, potențiale semințe pentru piese de teatru despre lumea în care trăim: 
    h5.schedule__title Între ora 19.00 și ora 24.00 pe Caderea Bastiliei 56-58
    h5.schedule__title În fața unei uși cu termopan
    h5.schedule__title Vă va aștepta cineva
    h5.schedule__title Care vă va da un bilet
    h5.schedule__title Biletul vă va duce într-un lift mic
    h5.schedule__title Liftul vă va duce pe un hol
    h5.schedule__title Către o ușă... 